@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Uncial+Antiqua&display=swap');

body { 
    font-family: "Open Sans", sans-serif;
}
/* index.html */
.landing-page {
    height: 100vh;
    background: url("../images/pink-mountain.jpg") no-repeat bottom left; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    justify-content: center; 
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.1);
}

.page-title {
    margin-top: 20px;
    font-family: "Uncial Antiqua", serif;
    color:#067906;
    font-weight: bold;
}

.subtitle {
    font-family: "Uncail Antiqua", serif;
    color:#067906;
    font-weight: bold;
}

.instructions,
.start-game {
    z-index: 1;
}

/* game.html */
.game {
    box-sizing: border-box;
}


.game-container {
    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-gap: 3px;
    justify-content: center;
}

.card {
    position: relative;
    height: 150px;
    width: 110px;
}  

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  border-radius: 5px;
}

.card-back {
    border: 2px solid lime;   
}

.card-front {
    border: 2px solid purple;
}


@media screen and (max-width: 660px) {
    .game-container {
        grid-template-columns: repeat(4, auto);
    }
    .card {
        height: 100px;
        width: 80px;
    }
}